/* --------------------------------------------------------------
 /* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
 -------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
 /* WordPress Core
 -------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
 /* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
 -------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
 Variables
 -------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Theme commons
 -------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* Theme commons
 -------------------------------------------------------------- */
@import 'less/layouts.less';

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }

    50% { -webkit-transform: scale(0.9); }

    100% { -webkit-transform: scale(1); }
}

/* --------------------------------------------------------------
 Body default
 -------------------------------------------------------------- */
html, body { height: 100%; }

body {
    background: #fdfdfd;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

/* HEADER */
#sticker { z-index: 10 !important; }

#sticker-mobile { z-index: 10 !important; }

.the-header {
    background: #fdfdfd;
    box-shadow: 2px 0px 6px #cecece;
    z-index: 9999;
}

.pre-header {
    background: #FFF;
    border-bottom: 1px solid #e2e2e2;
}

.custom-nav {
    & li {
        display: inline-block;

        & a {
            color: #717171;
            padding: 11px 6.5px;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 13px;

            &:hover {
                background: none transparent;
                color: #000;
            }
        }
    }
}

.pre-header-button-container {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    width: 9.333333% !important;

    & button {
        background: none transparent;
        border: 0;
        box-shadow: none;
        color: #717171;
    }

    & .lang-selector {
        padding: 10px;
        border: 0;
        box-shadow: none;
        padding-left: 12px;
        margin-top: -1px;
        color: #717171;
        font-weight: 600;
        font-size: 15px;

        &:hover { background: none !important; }

        &:active { background: none !important; }
    }

    & .open {
        & .lang-selector {
            &:hover { background: none !important; }

            &:active { background: none !important; }
        }
    }
}

.custom-cart-icon {
    background: url(../images/icon2.png);
    height: 24px;
    width: 25px;
    display: inline-block;
    margin-right: 5px;
    background-position: center 0px;
}

.pre-header-menu-container {
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    padding-left: 5px;
}

.preheader-side-button-container {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding-left: 10px;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 7px;

    & button {
        background: none transparent;
        border: 0;
        box-shadow: none;
        color: #a8a8a8;
    }
}

.empty-cart {
    padding: 1.5px 0 2.5px 0;
    color: #717171;
    cursor: pointer;

    & .fa { padding-right: 5px; }

    & span { margin-top: -5px; }

    & span:nth-child(3) { padding-left: 20px; }

    & a {
        color: #717171;
        text-decoration: none;
        font-weight: 400;

        & span:nth-child(3) {
            color: #c9c9c9;
            font-weight: 300;
        }
    }
}

.custom-cart {
    padding: 1.5px 0 2.5px 0;
    color: #AFAFAF;
    cursor: pointer;
    position: relative;

    & .fa { padding-right: 5px; }

    & .badge {
        margin-left: 10px;
        margin-top: -5px;
    }

    & span:nth-child(3) { margin-left: 5px; }

    & a {
        color: #a8a8a8;
        text-decoration: none;
    }
}

.custom-dropdown-menu {
    position: absolute;
    top: 42px;
    background: whitesmoke;
    padding: 20px 20px 0px 20px;
    z-index: 10;
    left: -125px;
    width: 320px;
    list-style: none;
    box-shadow: 1px 4px 6px #b3b3b3;

    & .custom-remove-product {
        position: absolute;
        top: -5px;
        cursor: pointer;
        right: 0;
        color: red;
    }

    &:after {
        bottom: 100%;
        right: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: whitesmoke;
        border-width: 8px;
        margin-left: -8px;
    }

    & li {
        margin-bottom: 10px;
        border-bottom: 1px solid #d2d2d2;
        min-height: 50px;
        position: relative;

        &:last-child { border-bottom: 0; }

        & p {
            font-size: 14px;
            margin-bottom: 0;
            color: #585858;
        }

        & span {
            font-size: 12px;
            margin-left: 0 !important;
        }
    }

    & .custom-dropdown-loader {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(245, 245, 245, 0.84);
        width: 100%;
        height: 100%;
    }

    & .amount {
        font-size: 20px !important;

        & span { font-size: 20px; }
    }

    & .img-cart {
        width: 60px;
        float: left;
        margin-right: 10px;
    }

    & .custom-cart-totals {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        color: #ff1b4f;
    }

    & .btn-custom-cart {
        border-radius: 15px;
        padding: 10px 15px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: .3px;
        background: #ff15a9;
        background: -moz-linear-gradient(left, #ff15a9 0%, #ff0f5d 100%);
        background: -webkit-linear-gradient(left, #ff15a9 0%, #ff0f5d 100%);
        background: linear-gradient(to right, #ff15a9 0%, #ff0f5d 100%);
        width: 49%;
        color: #FFF !important;
    }

    & .btn-custom-cart-clear {
        background: #0665d8;
        background: -moz-linear-gradient(left, #0665d8 0%, #7ebaea 100%);
        background: -webkit-linear-gradient(left, #0665d8 0%,#7ebaea 100%);
        background: linear-gradient(to right, #0665d8 0%,#7ebaea 100%);
    }
}

.custom-dropdown-loader-hidden { display: none; }

.custom-dropdown-loader-shown { display: block; }

.custom-dropdown-hide { display: none; }

.custom-dropdown-show { display: block; }

.the-logo {
    text-align: center;

    & img {
        padding: 20px 40px;
        width: 350px;
        display: inline-block;
    }
}

.the-search {
    padding: 3px;

    & .searchform {
        & input {
            background: #f7f7f7;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            text-transform: uppercase;
            padding: 20px 15px;
            font-size: 15px;
        }

        & button {
            background: #F7f7f7;
            border: 1px solid #f7f7f7;
            box-shadow: none;
            font-size: 14px;
            padding: 9px;
        }
    }
}

.the-header-mobile {
    background: #FFF;

    & .btn-group button {
        background: none transparent;
        border: 0;
        box-shadow: none;

        & .fa { font-size: 16px; }

        & span { font-size: 12px; }
    }
}

.pre-header-mobile {
    border-bottom: 1px solid #d6d6d6;
    background: #FFF;

    & .empty-cart {
        padding: 6.5px 20px;
        font-size: 14px;
    }

    & .open>.dropdown-toggle.btn-default {
        background-color: #ffffff !important;
        box-shadow: none !important;
    }
}

.pre-header-elements .btn-group { border-left: 1px solid #d6d6d6; }

.the-logo-mobile { padding: 25px 0; }

.the-navbar-mobile {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;

    & .fa-search {
        font-size: 15px;
        margin: 8px;
        cursor: pointer;
    }

    & .fa-times {
        font-size: 15px;
        margin: 8px;
        cursor: pointer;
    }

    & .open>.dropdown-toggle.btn-default {
        background-color: #ffffff !important;
        box-shadow: none !important;
    }
}

.the-search-mobile {
    background: #FFF;
    padding: 5px 0;
    border-bottom: 1px solid #EfEFEF;
}

.search-mobile-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.search-mobile-shown {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.dropdown-mobile-menu {
    width: 100% !important;
    min-width: 100vh !important;
    margin: 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
    box-shadow: none;
    font-size: 13.5px;
    border-top: 1px solid #eaeaea !important;

    & li {
        & a {
            text-transform: uppercase;
            font-weight: 300;
        }
    }
}

.dropdown-mobile-menu-main {
    box-shadow: 2px 0px 6px #cecece;

    & li {
        & a { padding: 10px 20px; }
    }
}

.custom-cart-mobile {
    padding: 0px 10px;
    margin-top: -5px;
}

/* FOOTER */
.footer-item {
    & h3 {
        font-size: 15px;
        text-transform: uppercase;
        color: #bbbbbb;
        margin-bottom: 20px;
    }

    & ul {
        padding: 0;
        list-style: none;
        line-height: 30px;

        & li {
            & a { color: #343434; }
        }
    }
}

.footer-copy {
    text-align: center;

    & img {
        width: 40%;
        display: inline-block;
        margin-bottom: 20px;
    }

    & .fa {
        padding: 0 15px;
        font-size: 25px;
        color: #b9b9b9;
    }

    & h6 {
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 12px;
        margin-bottom: 30px;
    }
}

/* HOME */
.home-brands-carousel {
    & .owl-nav {
        position: relative;
        top: 20%;
        width: 100%;
        z-index: 99;

        & .owl-prev {
            position: absolute;
            left: -1%;
            top: -85px;
            background: none;
            color: #000;
        }

        & .owl-next {
            position: absolute;
            right: -1%;
            top: -85px;
            background: none;
            color: #000;
        }
    }
}

.home-brands-item { padding: 50px; }

.the-featured-prods {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
    padding-bottom: 10px;
}

.widget-promo {
    & img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

.promo-item-small { margin-bottom: 35px; }

.promo-item-tall {
    & img {
        max-height: 410px;
        width: auto !important;
        height: 100%;
    }
}

.the-collection {
    padding: 20px 0;
    text-align: center;

    & h2 {
        font-size: 28px;
        color: #797979;
        letter-spacing: 0.5px;
        font-weight: 400;
        margin-bottom: 45px;
    }
}

.home-product-carousel {
    & .owl-nav {
        position: relative;
        width: 100%;
        z-index: 99;

        & .owl-prev {
            position: absolute;
            left: -8%;
            top: -200px;
            border: 1px solid #cacaca;
            padding: 10px 15px;
            color: #ff1a50;
            background: #FFF;
            border-radius: 0;
        }

        & .owl-next {
            position: absolute;
            right: -8%;
            top: -200px;
            border: 1px solid #cacaca;
            padding: 10px 15px;
            color: #ff1a50;
            background: #FFF;
            border-radius: 0;
        }
    }
}

.home-product-item {
    border: 1px solid #e6e6e6;
    background: #FFF;
    padding: 10px;
    overflow: hidden;

    & .home-product-item-remove {
        position: relative;
        z-index: 5;
        cursor: pointer;
        .transition(all .2s ease-in-out);

        & img {
            position: absolute;
            top: -20px;
            left: -17px;
            width: 53px !important;
            height: auto;
            border: 1px solid #e6e6e6;
            padding: 12px 13px;
            border-radius: 100%;
            .transition(all .2s ease-in-out);

            &:hover {
                .transition(all .2s ease-in-out);
                background: #ff1f50;
            }
        }

        &:hover {
            .transition(all .2s ease-in-out);
            background: #ff1f50;
        }

        & .img-loader { display: none; }

        & .img-added { display: none; }
    }

    & .home-product-item-loading {
        & .img-cart { display: none; }

        & .img-added { display: none; }

        & .img-loader { display: block; }
    }

    & .home-product-item-added {
        & .img-cart { display: none; }

        & .img-added { display: block; }

        & .img-loader { display: none; }
    }

    & picture img {
        margin: 25px 0;
        max-height: 252px;
        width: 100% !important;
    }

    & h3 {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -.5px;
        color: #929292;
        margin-bottom: 0px;
    }

    & .home-product-item-info {
        color: #ff1f50;
        font-weight: 700;
        font-size: 21px;
    }
}

.the-brands {
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
    text-align: center;

    & h2 {
        font-size: 28px;
        color: #5f5f5f;
        letter-spacing: 0.5px;
        font-weight: 400;
        margin-bottom: 40px;
    }
}

.the-instagram {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
    text-align: center;

    & h2 {
        font-size: 28px;
        color: #5f5f5f;
        letter-spacing: 0.5px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    & .instagram-info {
        background: #f7f7f7;
        text-align: center;
        padding: 15px;

        & img {
            display: inline-block;
            margin: 20px 0;
        }

        & h3 { font-size: 32px; }

        & a {
            color: #333333;
            font-size: 20px;
        }
    }

    & .instagram-info-border {
        border: 1px solid #d6d3d3;
        padding: 25px 20px;
    }

    & .sbi_photo { height: 175px !important; }
}

.the-bulletin {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    padding: 30px 0;
    color: #adadad;

    & h2 {
        font-size: 28px;
        color: #5f5f5f;
        letter-spacing: 0.5px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    & input {
        background: #F7F7F7;
        color: #000;
        padding: 22px 25px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 40px;
        margin-top: 15px;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: .5px;
        .placeholder(#000);
    }

    & .btn-bulletin {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff14a4+0,ff1063+100 */
        background: #ff14a4;
        /* Old browsers */
        background: -moz-linear-gradient(left, #ff14a4 0%, #ff1063 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ff14a4 0%, #ff1063 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ff14a4 0%, #ff1063 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: #FFF;
        letter-spacing: 1px;
        font-weight: 100;
        padding: 13px 30px;
        border-radius: 30px;
        font-size: 17px;

        & a { color: #FFF; }
    }
}

/* SHOP */
.woocustom-main-container {
    & .woocommerce-message {
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
}

.woocustom-title-section {
    text-align: center;

    & h1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 600;
    }
}

.woocommerce-breadcrumb {
    font-size: 20px !important;
    text-transform: uppercase;
    font-weight: 300;
    color: #000 !important;
    text-align: center;
    padding: 35px 0 !important;

    & a {
        color: #a8a8a8 !important;
        font-weight: 600;
    }
}

.woocustom-archive-container {
    padding-top: 20px;
    padding-bottom: 80px;
}

.woocustom-sidebar {
    padding-right: 40px;

    & ul {
        list-style: none;
        padding-left: 0;
    }

    & .widgettitle {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: -.3px;
    }

    & .children li { padding-left: 15px; }

    & .ywcca_container {
        margin: 0;
        margin-top: 15px;
        border: 0;

        & h3 {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 400;
            text-align: left;
            letter-spacing: -0.3px;
            background: none;
            margin-bottom: 10px;
        }

        & .cat-item {
            background: none !important;
            border-bottom-color: #dcdcdc !important;
            padding-left: 0 !important;
        }

        & .children {
            margin-left: 0 !important;
            padding-left: 15px !important;
        }

        & .icon-plus_style_1 { margin-right: 5px !important; }
    }
}

.woocustom-product-item {
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px 5px !important;
    margin: 0 15px 0 0 !important;
    width: 23.02% !important;

    & .star-rating { display: inline-block !important; }

    & h3 {
        font-size: 15px !important;
        font-weight: 600 !important;
        letter-spacing: -0.5px !important;
        color: #929292;
        margin-bottom: 0px;
    }

    .price {
        color: #ff1f50 !important;
        font-weight: 700 !important;
        font-size: 21px !important;
    }

    .button {
        background: none transparent !important;
        border: 1px solid #ff1b4f !important;
        font-weight: 600 !important;
        border-radius: 0 !important;
    }
}

.woocustom-single-container {
    & .woocommerce-review-link {
        color: #FF4FA9;
        border-bottom: 1px solid #FF4FA9;
        padding-bottom: 2px;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 900;
        font-size: 12px;
        .transition(all .3s ease-in-out);

        &:hover {
            color: #9a2661;
            border-bottom: 1px solid #9a2661;
            .transition(all .3s ease-in-out);
        }
    }

    & .quantity input[type=number] { border: 1px solid #4e4e4e !important; }

    /* SINGLE */
    & .thumbnails {
        float: right;
        width: 17%;
        padding-top: 0 !important;

        & a {
            & img {
                margin: 0px 10px 10px 0;
                border: 1px solid #e6e6e6 !important;
            }
        }
    }

    & .woocommerce-main-image {
        float: right;
        width: 66%;
        margin-left: 10px;

        & img { border: 1px solid #e6e6e6; }
    }

    & .product_title {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 400 !important;
        letter-spacing: 2px;
    }

    & .price {
        color: #ff1b4f !important;
        font-size: 22px !important;
        font-weight: 400 !important;
    }

    & .sku-container {
        margin-bottom: 10px;

        & .sku-text { font-weight: 600; }
    }

    & .attribute-container {
        margin-bottom: 10px;
        text-transform: uppercase;

        & .attribute-text { font-weight: 600; }
    }

    & .quantity-custom-title {
        font-size: 14px;
        float: left;
        margin-right: 7px;
        line-height: 25px;
        font-weight: 700;
    }

    & .single_add_to_cart_button {
        clear: both !important;
        margin-top: 20px !important;
        border-radius: 15px !important;
        padding: 12px 25px !important;
        text-transform: uppercase;
        font-weight: 600 !important;
        letter-spacing: .3px;
        background: #ff15a9 !important;
        background: -moz-linear-gradient(left, #ff15a9 0%, #ff0f5d 100%) !important;
        background: -webkit-linear-gradient(left, #ff15a9 0%, #ff0f5d 100%) !important;
        background: linear-gradient(to right, #ff15a9 0%, #ff0f5d 100%) !important;
    }

    & .custom-sharer-container a {
        color: #ff14a2;
        font-weight: 600;
        font-size: 12px;
    }

    & .cart .variations {
        & br { display: none; }

        & .value { display: inline-block; }

        & .label { padding-right: 3em !important; }
    }

    & .swatchtitlelabel {
        font-size: 14px;
        float: left;
        margin-right: 7px;
        line-height: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    & .swatchinput {
        padding-bottom: 0 !important;
        line-height: 15px !important;
    }
}

.star-rating span { color: #ffd600 !important; }

.woocustom-tabs-container {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
    margin-top: 25px;

    & .tabs {
        text-align: center !important;
        border-bottom: 0 !important;

        &:before { display: none !important; }

        &:after { display: none !important; }

        & li {
            border: 0 !important;
            border-right: 2px solid #d9d8d9 !important;
            background-color: transparent !important;
            border-radius: 0 !important;
            margin: 0 !important;
            padding: 0px 10px !important;

            & a {
                padding: 0 !important;
                text-transform: uppercase;
                font-weight: 600 !important;
                color: #828282 !important;
            }

            &:before { display: none !important; }

            &:after { display: none !important; }

            &:last-child { border-right: 0 !important; }
        }

        & .active a { color: #ff14a2 !important; }
    }

    & .panel {
        background: none transparent !important;
        box-shadow: none !important;
        padding: 30px 0 !important;
        font-size: 15px !important;
        line-height: 28px;
    }
}

.woocustom-related-container {
    text-align: center;
    padding: 14px 0;

    & h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    & .woocustom-product-item { min-height: 445px; }
}

.the-notices {
    z-index: 10;
    position: fixed;
    width: 200px;
    padding: 7px 10px;
    height: 50px;
    overflow: hidden;
    background: #ff1b4f;
    right: 0;
    top: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 2px 6px #afafaf;
    .transition(all .5 ease-in-out);

    & img {
        .filter(invert(1));
        height: 35px;
        display: inline-block;
    }

    & span {
        color: #FFF;
        padding-left: 10px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
    }
}

.the-notices-hidden {
    right: -250px;
    .transition(all .5 ease-in-out);
}

.nav_main>li:nth-child(1)>a:hover~#dropdown-custom-1 {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.nav_main>li:nth-child(2)>a:hover~#dropdown-custom-2 {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.nav_main>li:nth-child(3)>a:hover~#dropdown-custom-3 {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.nav_main>li:nth-child(4)>a:hover~#dropdown-custom-4 {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.nav_main>li:nth-child(5)>a:hover~#dropdown-custom-5 {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.nav_main>li:nth-child(6)>a:hover~#dropdown-custom-6 {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.custom-navbar-menu {
    width: 100%;
    background: #fdfdfd;
    position: relative;
    padding: 0;

    & ul {
        list-style: none;
        padding: 0;
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0px;

        & li {
            display: inline-block;

            & a {
                padding: 15px 30px;
                font-size: 16px;
                font-weight: 300;
                color: dimgrey;
                display: block;
                position: relative;
                cursor: pointer;
            }
        }
    }
}

.dropdown-custom {
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fafafa;
    width: 100%;
    padding: 20px 40px !important;
    text-align: left !important;

    &:hover {
        visibility: visible;
        z-index: 1;
        opacity: 1;
    }

    & .dropdown-custom-child-item-featured {
        width: 20% !important;
        display: block !important;
        float: left;
    }

    & .dropdown-custom-child-item {
        width: 100%;
        display: inline-block;
        vertical-align: top;

        & h4 {
            & a {
                font-weight: 500 !important;
                padding: 0 !important;
                text-transform: uppercase;
            }
        }

        & ul {
            text-align: left;
            border-right: 1px solid #c7c7c7;
            padding-right: 20px;
            margin-right: 30px;

            & li {
                display: block;

                & a {
                    padding: 10px 0;
                    border-right: 0;
                }
            }
        }
    }

    & .dropdown-banner-container {
        width: 48.5%;
        margin-top: 0px;
        margin-right: 10px;
        float: left;
    }
}

.dropdown-custom-child-slider {
    max-width: 80%;
    width: 80%;
    float: left;

    & .owl-nav {
        width: 95%;
        text-align: right;
        margin-top: 15px;

        & .owl-prev {
            display: inline-block;
            padding: 0px 10px;
            font-size: 25px;
            z-index: 9;
        }

        & .owl-next {
            display: inline-block;
            padding: 0px 10px;
            font-size: 25px;
            z-index: 9;
        }
    }
}

.submenu-link { text-transform: uppercase; }

.dropdown-custom-hide {
    z-index: -50;
    opacity: 0;
    visibility: hidden;
}

.dropdown-custom-show {
    z-index: 999999;
    opacity: 1;
    visibility: visible;
}

.menu-product-item {
    padding: 10px 0;
    overflow: hidden;

    & a { padding: 2px 0px !important; }

    & picture img {
        margin: 5px 0;
        width: 70% !important;
    }

    & h3 {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -.5px;
        color: #929292;
        margin-bottom: 0px;
    }

    & .home-product-item-info {
        color: #ff1f50;
        font-weight: 700;
        font-size: 21px;
    }
}

.woocustom-product-item { margin-bottom: 20px !important; }

.custom-breadcrumb {
    padding: 30px 0;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;

    & li {
        display: inline-block;
        border-right: 1px solid black;
        padding: 0 10px;

        & a { color: #a8a8a8; }
    }

    & .active { border-right: 0; }
}

.page-container {
    & h1 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }
}

.page-contact-content {
    font-size: 15px;
    line-height: 30px;
}

.custom-contact-form-control {
    font-size: 14px;
    margin-bottom: 10px;

    & input {
        width: 100%;
        border: 0;
        background: #f7f7f7;
        padding: 10px;
        box-shadow: 1px 2px 6px #f1f1f1;
    }

    & textarea {
        width: 100%;
        border: 0;
        background: #f7f7f7;
        padding: 10px;
        box-shadow: 1px 2px 6px #f1f1f1;
    }
}

.page-contact-form .wpcf7-submit {
    padding: 10px 20px;
    display: block;
    margin-left: auto;
    background: #ff1a50;
    color: #FFF;
    text-transform: uppercase;
    border: 0;
    box-shadow: 1px 2px 2px #fde4ea;
    letter-spacing: .5px;
    font-weight: 600;
}

.panel-mobile-menu {
    margin-bottom: 0;

    & .panel {
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
        background: none;
        box-shadow: none;
    }

    & .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 300;
        color: inherit;
        padding: 15px 0;
    }

    & .panel-heading {
        background: none;
        box-shadow: none;
        border: 0;
        padding: 0 10px;
    }

    & .collapsed {
        & .mobile-menu-helper { .transform(rotate(180deg)); }
    }

    & .panel-body a {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 5px 0;
        font-size: 15px;
        font-weight: 300;
    }
}

.mobile-menu-helper {
    float: right;
    font-weight: 100;
}

.home-mobile-widget {
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mobile-social-section {
    text-align: center;
    font-size: 40px;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;

    & i { padding: 0 20px; }
}

.mobile-social-section-inner {
    border-top: 0;
    border-bottom: 1px solid #e5e5e5;
}

.wl-custom-wrap {
    clear: none !important;
    width: auto !important;
    float: left !important;
    margin-top: 18px;
    margin-left: 20px;
    max-width: 300px;

    & a { color: #FF1A50; }

    & .fa { font-size: 20px !important; }
}

.wl-already-in {
    float: left !important;
    font-size: 12px;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 20px;
    margin-left: 20px;
}

.footer-copy-mobile {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    margin-top: 20px;

    & h3 {
        font-size: 14px;
        margin-top: 5px;
    }

    & .social-container {
        font-size: 18px;
        padding: 10px 0;

        & a {
            color: #e5e5e5;
            padding: 0 8px;
        }
    }

    & h6 {
        font-size: 10px;
        margin-bottom: 20px;
    }
}

#commentform {
    & input { border: 1px solid #6f6f6f; }

    & textarea { border: 1px solid #6f6f6f; }
}

.woocommerce span.onsale {
    top: 0 !important;
    right: 0% !important;
    min-height: 0 !important;
    min-width: 0 !important;
    padding: 8px 10px !important;
    font-weight: 700;
    position: absolute;
    text-align: center;
    max-width: 80px;
    line-height: 15px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: #ff1b50 !important;
}

.woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding-left: 0;

    & li:last-child { border-bottom: 1px solid #e0e0e0; }

    & .woocommerce-MyAccount-navigation-link {
        padding: 10px;
        border-top: 1px solid #e0e0e0;

        & a {
            font-weight: 400;
            font-size: 16px;
            color: #ff1b50;
        }
    }

    & .is-active {
        & a {
            font-weight: 600 !important;
            color: #008dd9;
        }
    }
}

.woocommerce .quantity .qty { border: 1px solid #c1c1c1 !important; }

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea { border: 1px solid #c1c1c1 !important; }

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text { width: 180px !important; }

.btn-product-shop {
    border: 2px solid #ff1b50;
    border-radius: 0;
    color: #000;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
}

.theme6 {
    margin-left: auto;
    box-shadow: none !important;
    margin-right: auto;
    background: none transparent !important;
    max-width: 1024px !important;
}

.theme6 legend, .theme6 .agile-form-description { display: none; }

.theme6.agile-form-blck-transparent .agile-group input {
    background: #F7F7F7 !important;
    color: #000 !important;
    padding: 22px 25px !important;
    border: 1px solid #000 !important;
    border-bottom: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .5px;
}

.agile-group label { text-align: center !important; }

.agile-button {
    background: #ff14a4;
    background: -moz-linear-gradient(left, #ff14a4 0%, #ff1063 100%);
    background: -webkit-linear-gradient(left, #ff14a4 0%, #ff1063 100%);
    background: linear-gradient(to right, #ff14a4 0%, #ff1063 100%);
    color: #FFF !important;
    letter-spacing: 1px !important;
    font-weight: 100 !important;
    padding: 13px 30px !important;
    border-radius: 30px !important;
    font-size: 17px !important;
}

.h1-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0;
}

.tp-button {
    background: #ff1b50 !important;
    padding: 0 30px !important;
    line-height: 0 !important;
    margin-left: 15px !important;
    padding-bottom: 45px !important;
}

figure.woocommerce-product-gallery__wrapper { width: 69%; }

.front-category-item {
    padding: 20px;
    text-align: center;

    & img {
        display: inline-block;

        &:hover {
            -webkit-animation-name: thumb;
            -webkit-animation-duration: 200ms;
            -webkit-transform-origin: 50% 50%;
            -webkit-animation-iteration-count: 2;
            -webkit-animation-timing-function: linear;
        }
    }

    & h5 {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -1.5px;
    }
}
