/* --------------------------------------------------------------
 MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
 -------------------------------------------------------------- */
//@media (max-width: 1920px) {
//
//}
//@media (max-width: 1680px) {
//
//}
//@media (max-width: 1600px) {
//
//}
//@media (max-width: 1440px) {
//
//}
@media (max-width: 1366px) {
    .dropdown-custom { padding: 10px 30px; }

    .dropdown-custom .dropdown-banner-container { margin-top: 0px; }

    .menu-product-item { padding: 0; }

    .menu-product-item picture img { width: 50% !important; }

    .dropdown-custom .dropdown-custom-child-item ul li a { padding: 5px 0; }
}
//@media (max-width: 1280px) {
//
//}
@media (max-width: 1170px) {
    .pre-header-button-container .lang-selector {
        font-size: 10px;
        height: 30px;
    }

    .custom-nav li a { font-size: 10px; }

    .empty-cart { font-size: 10px; }

    .preheader-side-button-container {
        font-size: 13px;
        padding-bottom: 0px;
    }

    .custom-cart { padding: 0px 0 2.5px 0; }

    .home-product-carousel .owl-nav .owl-prev { left: -2%; }

    .home-product-carousel .owl-nav .owl-next { right: -2%; }

    .home-brands-carousel .owl-nav .owl-prev { left: 0%; }

    .home-brands-carousel .owl-nav .owl-next { right: 0%; }

    .footer-item {
        font-size: 13px;
        line-height: 20px;
    }

    .footer-item ul { line-height: 25px; }

    .woocustom-product-item {
        margin: 0 13px 0 0 !important;
        width: 23.02% !important;
        min-height: 360px;
        margin-bottom: 15px !important;
    }

    .woocommerce-breadcrumb {
        font-size: 15px !important;
        padding: 25px 0 !important;
        margin-bottom: 0 !important;
    }
}

@media (max-width: 1024px) {
    .custom-navbar-menu ul li a { font-size: 14px; }

    .promo-item-tall img { max-height: 335px; }
}
//@media (max-width: 992px) {
//
//}
