/* --------------------------------------------------------------
 MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
 -------------------------------------------------------------- */
@media (max-width: 600px) {
    .custom-contact-form-control { padding: 0; }

    .woocustom-single-container .woocommerce-main-image {
        width: 100%;
        margin-left: 20px !important;
        margin-right: 0 !important;
    }

    .entry-summary { padding: 0 0 !important; }

    .woocommerce-page div.product div.thumbnails.columns-1 a {
        width: 18% !important;
        margin-right: 4px;
        float: left !important;
        clear: none !important;
        margin-top: 10px !important;
    }

    .woocustom-single-container .thumbnails {
        float: none !important;
        margin-left: 0 !important;
        width: 100% !important;
        padding-top: 0 !important;
    }

    .the-logo-mobile { padding: 20px 50px; }

    .woocustom-related-container { display: none; }

    .woocommerce-page div.product div.images {
        float: left !important;
        width: 100% !important;
    }

    .the-featured-prods {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .promo-item-big { margin-bottom: 20px; }

    .the-bulletin { font-size: 14px; }

    .the-bulletin h2 { margin-bottom: 20px; }

    .the-bulletin input { font-size: 10px; }

    .the-bulletin .btn-bulletin {
        padding: 8px 30px;
        font-size: 14px;
    }

    .the-collection h2 {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #797979;
    }

    .home-product-carousel .owl-nav .owl-prev {
        left: -5px;
        top: -170px;
        background: #FFF;
    }

    .home-product-carousel .owl-nav .owl-next {
        right: -5px;
        top: -170px;
        background: #FFF;
    }

    .the-instagram {
        & #sb_instagram.sbi_col_4 #sbi_images .sbi_item { width: 33.33% !important; }
    }

    .the-footer { margin-top: 15px; }

    .home-product-item h3 {
        font-size: 18px;
        font-weight: 300;
    }

    .home-product-item .home-product-item-info {
        font-weight: 400;
        font-size: 15px;
    }

    .the-instagram h2 { font-size: 20px; }

    .the-collection h2 { font-size: 20px; }

    .the-bulletin h2 { font-size: 20px; }

    .woocommerce div.product div.images, .woocommerce div.product div.summary { padding-top: 10px; }

    .woocustom-archive-container {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .woocustom-product-item { min-height: 390px; }
}

@media (max-width: 533px) {
    .woocommerce-breadcrumb {
        font-size: 12px !important;
        padding: 15px 0 !important;
        margin-bottom: 0 !important;
    }

    .woocustom-title-section h1 { font-size: 20px; }

    .woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text { width: 160px !important; }
}

@media (max-width: 414px) {
    .the-logo-mobile { padding: 25px 0px; }

    .woocustom-product-item {
        width: 44.02% !important;
        margin-left: 5px !important;
        min-height: 390px;
    }

    .woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text { width: 140px !important; }
}

@media (max-width: 375px) {
    .mobile-social-section { font-size: 30px; }

    div.swatchinput { padding-right: 3px !important; }

    .woocustom-single-container .woocommerce-review-link {
        letter-spacing: 0px;
        font-size: 10px;
    }

    .woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text { width: 100% !important; }

    .woocommerce-page table.cart td.actions .coupon .button, .woocommerce-page table.cart td.actions .coupon input { width: 100% !important; }
}
//@media (max-width: 360px) {
//
//}
@media (max-width: 320px) {
    .woocustom-product-item {
        width: 45.02% !important;
        margin-left: 0px !important;
        min-height: 345px;
    }

    .woocustom-product-item .button { font-size: 13px !important; }

    .woocommerce .woocommerce-product-rating .star-rating { margin-bottom: 9px !important; }

    .woocustom-single-container .woocommerce-review-link {
        display: block;
        clear: both !important;
        font-size: 10px;
    }
}
//@media (max-width: 240px) {
//
//}
