/* --------------------------------------------------------------
 MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
 -------------------------------------------------------------- */
@media (max-width: 991px) {
    .woocustom-related-container .woocustom-product-item {
        min-height: 380px;
        width: 23.02% !important;
    }

    .woocustom-tabs-container .panel {
        padding: 15px 0 !important;
        line-height: 26px;
        margin-bottom: 0 !important;
    }

    .woocustom-product-item h3 { font-weight: 400 !important; }

    .promo-item-tall img {
        width: auto !important;
        height: auto;
    }

    .custom-navbar-menu ul li a { padding: 10px; }

    .the-instagram .instagram-info h3 {
        font-size: 20px;
        margin-top: 0;
    }

    .the-instagram .instagram-info img {
        margin: 16px 0;
        width: 70%;
    }

    .the-instagram .instagram-info a { font-size: 15px; }

    .the-instagram .sbi_photo { height: 130px !important; }

    .footer-item h3 {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .footer-item {
        line-height: 25px;
        font-size: 12px;
    }

    .preheader-side-button-container {
        font-size: 12px;
        margin-top: -3px;
        padding-bottom: 4px;
    }

    .home-product-carousel .owl-nav .owl-prev { left: -3%; }

    .home-product-carousel .owl-nav .owl-next { right: -3%; }

    .home-brands-carousel .owl-nav .owl-prev { left: 0; }

    .home-brands-carousel .owl-nav .owl-next { right: 0; }

    .woocustom-product-item {
        width: 30.02% !important;
        min-height: 345px;
    }

    .shopswatchinput {
        & .wcvaswatchinput {
            height: 24px !important;
            width: 24px !important;
        }

        & .wcvashopswatchlabel {
            width: 24px !important;
            height: 24px !important;
        }
    }
}

@media (max-width: 800px) {
    .woocustom-main-container .woocommerce-message { width: 95% !important; }
}

@media (max-width: 768px) {
    .pre-header-mobile .empty-cart { padding: 0.5px 20px; }

    .entry-summary { padding: 0 4% !important; }

    .woocommerce-page div.product div.images, .woocommerce-page div.product div.summary {
        float: left !important;
        width: 100% !important;
    }

    .woocustom-single-container .thumbnails {
        float: left !important;
        margin-left: 8% !important;
        width: 12% !important;
        padding-top: 0 !important;
    }

    .woocustom-single-container .woocommerce-main-image {
        float: right;
        width: 66%;
        margin-left: 10px;
        margin-right: 5% !important;
    }

    .woocustom-product-item {
        width: 30.02% !important;
        margin-left: 0px !important;
        min-height: 370px;
        float: left !important;
        clear: none !important;
    }

    .pre-header-elements {
        text-align: center;
        border-left: 1px solid #d6d6d6;
        height: 32px;
    }

    .custom-cart-mobile { margin-top: -2px; }

    .pre-header-elements .btn-group { border-left: 0; }

    .woocustom-product-item .price { font-size: 15px !important; }
}
